@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background: url(../imagens/pacote-d013/imagens/fundo-madeira.jpg) no-repeat
    top center / cover;
}
main {
  height: 100vh;
  position: relative;
}

section#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 627px;
  width: 311px;
  background: url(../imagens/pacote-d013/imagens/frame-iphone.png) no-repeat;
}
iframe#tela {
  position: relative;
  top: 80px;
  left: 22px;
  width: 266px;
  height: 471px;
}
section#redes-sociais {
  text-align: right;
}
section#redes-sociais img {
  width: 50px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 7px black;
}
section#redes-sociais img:hover {
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.629);
  transition-duration: 0.5s;
  transform: translate(-1px, -1px);
}
